@charset "ISO-8859-1";
/* the body styling centers the text to the middle of the screen and changes the background color */
			body{
   			 height: 10em;
  		  	 position: relative;
   			 margin: 0;
   			 position: absolute;
    		 top: 50%;
    		 left: 50%;
   			 margin-right: -50%;
   			 transform: translate(-50%, -50%);
			 text-align: center;
			 background-color:#8BD5EF;
			}

			/* stylying for the regester button  */
			a.button {
   			 padding: 15px 25px;
 			 font-size: 24px;
			 text-align: center;
 			 cursor: pointer;
 			 outline: none;
  			 color: #fff;
 			 background-color: #CB0707;
 			 border: none;
 			 border-radius: 15px;
  			 box-shadow: 0 9px #999;
			 }

			/* changes the color of the button when you hover over it */
			a.button:hover {background-color: #B74D4D}
			
			/* adds a clicking motion to the button */
			a.button:active {
 			 background-color: #CB0707;
 			 box-shadow: 0 5px #666;
  			 transform: translateY(4px);
			}